/PIC/PIC32MZ_Tests.X/build
/PIC/PIC32MZ_Tests.X/dist
/PIC/dsPIC33F_Tests.X/build
/PIC/dsPIC33F_Tests.X/dist
/PIC/~*
/PSoC/PSoC4_Tests.cydsn/CortexM0/ARM_GCC_541/Debug
/PSoC/PSoC4_Tests.cydsn/Generated_Source/PSoC4
/PSoC/SysTick_Example01.cydsn/CortexM0/ARM_GCC_541/Debug
/PSoC/PSoC4_Tests.cydsn/codegentemp
/PSoC/PSoC4_Tests.cydsn/PSoC4_Tests.cyprj.geades
/PSoC/PSoC4_Tests.cydsn/PSoC4_Tests.rpt
/PSoC/PSoC4_Tests.cydsn/PSoC4_Tests_timing.html
/PSoC/SysTick_Example01.cydsn/Generated_Source/PSoC4
/PSoC/SysTick_Example01.cydsn/codegentemp
/PSoC/SysTick_Example01.cydsn/*.rpt
/PSoC/SysTick_Example01.cydsn/SysTick_Example01.cyprj.geades
/PSoC/SysTick_Example01.cydsn/SysTick_Example01_timing.html
/PSoC/ccNOos_lib.cylib/CortexM0/ARM_GCC_541/Debug
/PSoC/ccNOos_lib.cylib/CortexM3/ARM_GCC_541/Debug
/PSoC/ccNOos_lib.cylib/ccNOos_lib.cyprj.geades
/GenerateArduinoLib/bin
/GenerateArduinoLib/obj
/WIN32_Console/.vs
/WIN32_Console/Release
/WIN32_Console/Debug
/GenerateArduinoLib/.vs/GenerateArduinoLib/v16
/WIN32_Console/GenerateArduinoLib.exe
/Arduino/libraries/ccNOos/src
/WIN32_Console/enc_temp_folder
/build-QTCreator_C-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
/PSoC/PSoC4_Tests.cydsn/CortexM0/ARM_GCC_541/Release/
/PSoC/PSoC4_Tests.cydsn/CortexM0/ARM_GCC_541/Debug/
/QTCreator_C/build-QTCreator_C-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
/PSoC/PSoC4_Tests.cydsn/CLEAN.log
/PSoC/PSoC4_Tests.cydsn/REBUILD.log
/PSoC/PSoC4_Tests.cydsn/SysTick_Example.pdf
/build-QTCreator_C-Desktop_Qt_6_2_2_MinGW_64_bit-Debug
/WIN32_Console/Debug_FlatFiles
/WIN32_Console/Debug_FlatSysTick
/WIN32_Console/Debug_SysTick
/WIN32_Console/Debug_ccNOosTests
